<div class="col-md-12 col-sm-12 cv_header">
    <div class="wrapper">
        <div class="col-md-5 col-sm-5">
            <h1>PLAMEN KOLEV,</h1>
            <p>Backend Software Engineer</p>
        </div>
        <div class="col-md-7 col-sm-7 cv_header_info">
            <p>
                Email: <a href="mailto:p.kolev22@gmail.com">p.kolev22@gmail.com</a></br>
                LinkedIn: <a href="https://www.linkedin.com/in/plamen-kolev-465915a7">https://www.linkedin.com/in/plamen-kolev-465915a7</a>
            </p>
        </div>
    </div>
</div>

<div class="col-md-12 clearfix top_margin">
    <div class="wrapper experience">
        <div class="col-md-6">
            
        
            <div>
                <h2>About</h2>
                <p><%= @about.body.html_safe %></p>
            </div>
            <%= @work %>
            
            <div>
                <h2>Work Experience</h2>
            </div>

            <% @work_experience.each do |w| %>
                <div class="section ">
                    <h3><%= w.title.html_safe %></h3>
                    <h4><%= w.date %></h4>
                    <p><%= w.body.html_safe %></p>
                </div>    
            <% end %> 
        </div>   
        <div class="col-md-6">
            <div>
                <h2>Education</h2>
            </div>

            <% @education.each do |e| %>
                <div class="section">
                    <h3><%= e.title.html_safe %></h3>
                    <h4><%= e.date %></h4>
                    <p><%= e.body.html_safe %></p>
                </div>
            <% end %>
            
            <div>
                <h2>Projects</h2>
            </div>

            <% @projects.each do |p| %>
                <div class="section">
                    <h3><%= p.title.html_safe %></h3>
                    <h4><%= p.date %></h4>
                    <p><%= p.body.html_safe %></p>
                </div>
            <% end %>
            
        </div>
    </div>

    <div class="col-md-12 center web_only">
        <a class="special_button" href="/media/cv.pdf">Download PDF version</a>
    </div>
</div>


<% content_for :links do %>
    <%= stylesheet_link_tag "print.css", media: "print" %>
<% end %>
