<div class="footer_part1"></div>
<div class="footer_part2">
    <div class="wrapper">
        <div class="col-md-12">
            <div class="col-md-6 inline-block pull-left">
                <table>
                    <tr>
                        <th><strong>Contact</strong></th>
                        <th></th>
                    </tr>

                    <tr>
                        <td>Email:</td>
                        <td><a href="mailto:<%= Rails.application.config.email %>"><%= Rails.application.config.email %></a></td>
                    </tr>
                    <tr>
                        <td>LinkedIn:</td>
                        <td><a href="<%= Rails.application.config.linkedin %>"><%= Rails.application.config.linkedin %></a></td>
                    </tr>
                    <tr>
                        <td>Github:</td>
                        <td><a href="<%= Rails.application.config.github %>"><%= Rails.application.config.github %></a></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 inline-block align-right" id="mobile_footer_right">
                <p>
                    Plamen Kolev <span class="white">2016-<%= Time.new.year %></span><br/>
                    All rights reserved
                </p>
            </div>
        </div>
    </div>
</div>
