<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Plamen Kolev's Blog</title>
    <%= yield :links_before %>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Nunito" rel="stylesheet"/>
    <meta name="viewport" content="initial-scale=1" maximum-scale="4"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :links %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="col-md-12 col-sm-12 col-xs-12 nopadding nomargin main_content" role="main">
      <%= yield %>
    </div>
    <div role="contentinfo" class="col-md-12 col-sm-12 col-xs-12 navbar-fixed-bottom footer nopadding nomargin">  
      <%= render 'layouts/footer' %>    
  </body>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= yield :scripts %>
</html>
