<!DOCTYPE html>
<html>
  <head>
    <title>Plamen Kolev's Blog</title>
    <%= yield :links_before %>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Nunito" rel="stylesheet"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :links %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="col-md-12 nopadding nomargin main_content">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= yield :scripts %>
</html>
